<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utm.miragessee.universiteticaretmerkezi" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="AnaActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GirisActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KayitOlActivity"
            android:label="@string/title_activity_kayit_ol" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KayitOlActivity" />
        </activity>
        <activity
            android:name=".AnaActivity"
            android:label="@string/title_activity_ana" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfileActivity" />
        </activity>
        <activity
            android:name=".IlanEkleActivity"
            android:label="@string/title_activity_ilan_ekle" >
        </activity>
        <activity
            android:name=".IlanAraActivity"
            android:label="@string/title_activity_ilan_ara" >
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
    </application>

</manifest>
